body {
  background: white;
  font-color: #333333;
  width: 960px; }
  body .color h1 {
    color: #402626;
    font-size: 80px; }
  body .color h2 {
    color: gray;
    font-size: 40px; }
  body .color h3 {
    color: #404040;
    font-size: 26.66667px; }
  body .color h4 {
    color: #9f2020;
    font-size: 20px; }
  body .color h5 {
    color: #999999;
    font-size: 16px; }
  body .color h6 {
    color: #f6f6f6;
    font-size: 13.33333px; }
