@mixin border_radius($roundOne: 5px, $roundTwo: 5px){
	-webkit-border-radius : $roundOne $roundTwo;
	-khtml-border-radius : $roundOne $roundTwo;
	-moz-border-radius : $roundOne $roundTwo;
	-o-border-radius : $roundOne $roundTwo;
	border-radius : $roundOne $roundTwo;
}